<div class="container" id="home-container">
  <div class="jumbotron text-center">
    <h1 class="display-4 text-center">Alpha Blog</h1>
    <p class="lead text-center">Welcome to Alpha Blog, a simple blogging site.</p>
    <hr class="my-4">
    <p c;ass="text-center">To write your own blog, sign up!</p>
    <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

 